@import '../../../palettes.scss';

:host {
    background-color: map-get($misc, accent);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;

    .immunization-title {
        font-size: smaller;
    }

    .immunization-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .immunization {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .expiration-date {
        font-size: x-small;
    }


}