<div class="header">
    <div class="owl-image-container">
        <img class="owl-image" src="assets/owl.jpg">
    </div>
    <button (click)="goToSignIn()" mat-button class="sign-in-page-button">
        Sign In
    </button>
</div>
<div class="body">
    <div class="title-container">
        <h1 class="title">Health Hacks</h1>
        <span class="title-hint-text">All your patient's information in one place</span>
        <div class="extra-buttons-container">
            <button mat-button class="sign-in-page-button-faq">
                FAQ
            </button>
            <button mat-button class="sign-in-page-button-contact-us">
                Contact Us
            </button>
        </div>
    </div>
    <div class="image-container">
        <img class="sign-in-image" src="assets/landing-page.jpg" alt="IMAGE">
    </div>
</div>