@import '../../../styles.scss';
@import '../../../palettes.scss';

:host {
    @include page;
    background-color: map-get($misc, divider);
    justify-content: flex-start;
    align-items: center;


    .patients-table-container {
        width: 70%;

    }

    .sign-out-container {
        width: 100%;
        margin-bottom: 5px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    .sign-out-button {
        @include neutral-button;
        background-color: map-get($neutral-palette, surface);
    }

    .header {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin-bottom: 10px;
    }

    .search-bar {
        width: 60%;
        border: 1px solid map-get($neutral-palette, text);
    }



    .table-header {
        background-color: map-get($misc, accent);
    }

    .table-row:hover {
        cursor: pointer;
        background-color: map-get($misc, divider);
    }

    .table-row:active {
        background-color: map-get($neutral-palette, surface);
    }

    .back-button-container {
        width: 85%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }

    .back-button {
        background-color: map-get($neutral-palette, surface);
    }

}