$misc: (
    hint-text: #d9d5d5,
    divider: rgba(227, 226, 226, 0.881),
    accent: #51bbb5
);

$neutral-palette: (
    text: #202121,
    dark-gray-text: #383939,
    surface: #bbbdbd,
    body: rgba(254, 254, 254, 255)
);

$success-palette: (
    text: #428c4c,
    surface: #c1fbc8,
    body: rgba(254, 254, 254, 255)
);